<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="./../socket.io/socket.io.js"></script>
    <title>Simple Chat App</title>
</head>


<body>
<%-partial('../partials/topNavigation')%>
<%-body -%>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/javascripts/chat.js"></script>
</body>
</html>
